@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: rgb(78, 31, 179);
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
  }

  
::-webkit-scrollbar-thumb {
    background-color: rgb(167, 196, 250);
    border-radius: 10px;
  }